.vscode/
*.pdf
tempCodeRunnerFile.py/
build/
gui_control_v3.spec
laser_2881010.png
demo_gui.py
gui_control_v2.py
gui_control.py
tempCodeRunnerFile.py
tempCodeRunnerFile.python
eeprom_shutdown.bat
wxgui_control.py
eeprom_shutdown.py
takeaway.zip
gui_control_v3org.py
mitnehmen.zip
mitnehmen/